* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  /* font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal; */
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("https://img.freepik.com/premium-photo/travel-by-bus-train-night-weather-conditions-fog-double-exposure-abstract-background-digital-illustration_124507-104208.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  min-width: 20rem;
  max-width: 30rem;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-weight: bold;
  text-shadow: 1px 1px rgb(0, 0, 0, 0.75);
  /* background-color: aliceblue; */
}

header div h2 {
  margin-bottom: 1vh;

  font-size: 1.5em;
}

header div p {
  color: #cf1717;
}

img[src*="KMB_300x200.png"] {
  width: 8em;
  height: auto;
}

img[src*="we4eXg9Yb5do0"] {
  width: 4.5em;
  height: auto;
}

#inputBox {
  width: 80%;
  height: 7vh;
  position: relative;
  margin: 1%;
  /* background-color: red; */
}

input {
  width: 100%;
  height: 100%;
  min-height: 2.5em;
  border-radius: 10px;
  border: 2px solid rgb(33, 45, 53);
  background: #03071e;
  box-shadow: -1px -4px 4px -4px rgba(254, 218, 218, 0.84) inset;
  padding-left: 5%;
}

#inputBox button {
  position: absolute;
  right: 0;
  height: 100%;

  padding: 1px 1em;
  background-color: #1f1e24;
  border-radius: 10px;
  font-size: 0.9em;
}

#selected {
  opacity: 0.3;
  background-color: rgb(232, 250, 255);
  /* border-radius: 20px; */
  transition: all 0.3s ease;
  border: 3px solid rgb(18, 10, 90);
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;

  /* background-color: brown; */
}

@keyframes buttonDisplay {
  0% {
    position: relative;
    left: -10px;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

section button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* flex-wrap: wrap; */
  margin: 0.5%;
  background-color: #03071e;
  padding: 0.5em;
  /* width: 15%; */
  height: 7em;
  text-align: center;
  border-style: solid;
  position: relative;
  color: white;
  transition: all 0.3s;
  box-shadow: 1px 1px 2px 0px rgb(0, 191, 255, 0.75);
  /* white-space: nowrap; */
  /* Prevent text from wrapping to the next line */
  animation: buttonDisplay 0.3s ease-in;
}

section#route div {
  background-color: #03071e;
  box-shadow: 3px 3px 6px 0px rgb(0, 191, 255, 0.75);
  border-radius: 10px;
  width: 70%;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#route div span {
  margin: 5%;
  color: red;
}

section#route button p {
  /* writing-mode: vertical-rl; */
  font-size: 0.9em;
  /* background-color: red; */
}

section#route button {
  height: 2em;
}

section button::before,
section button::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

section button::before {
  left: 4px;
  z-index: 1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 1);
}

section button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

section button::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

section button:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
}

section#routeList {
  align-content: flex-start;
  width: 80%;
  height: 45vh;
  margin-top: 1%;
  border-radius: 10px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: red; */
}

section#routeList button {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 3em;
  margin: 0;
}

section#routeList button h3 {
  width: 15%;
  text-align: center;
  background-color: #b30000;
  border-radius: 10px;
}

section#routeList button p {
  margin-left: 20px;
}

@keyframes popupDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section#popup {
  z-index: 10;
  position: fixed;
  top: 25%;
  width: 25em;
  height: 25em;
  border: 1px solid #1e3a45;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  background: rgb(8, 102, 96);
  background: linear-gradient(
    342deg,
    rgb(11, 140, 162) 0%,
    rgb(26, 37, 59) 31%
  );
  border-radius: 10px;
  box-shadow: 2px 2px 1px 0px rgb(13, 17, 18, 0.75);
  animation: popupDisplay 0.2s ease-in;
}
section#popup div#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rebeccapurple; */
}
section#popup div#header button {
  margin: 0;
  padding: 0;
  margin-right: 2em;
  height: 30%;
  border-radius: 50%;
}
section#popup div#header button::before,
section#popup div#header button::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 50%;
}

section#popup div#header button::before {
  left: 4px;
  z-index: 10;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 1);
  border-radius: 50%;
}

section#popup div#header button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
  border-radius: 50%;
}

section#popup div#header button::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

section#popup div#header button:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
  border-radius: 50%;
}
section#popup div#etaTitle {
  /* background-color: red; */
  width: 70%;
  height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 7%;
  /* background-color: green; */
}
section#popup h2 {
  font-size: 1.2em;
}
/* section#popup p {
  background-color: red;
} */
section#popup hr {
  width: 100%;
  opacity: 0.5;
  margin-bottom: 10%;
}
section#popup div.eta {
  margin-left: 2em;
  width: 80%;
  /* background-color: purple; */
  display: flex;
  align-items: center;
}
section#popup div.eta div {
  margin-left: 2em;
  /* font-weight: bold; */
  font-size: 1.1em;
  /* background-color: yellow; */
}
section#popup div.eta span {
  margin-left: 2em;
  /* font-weight: bold; */
  font-size: 1.05em;
  /* background-color: #eb6a00; */
  text-align: center;
  padding: 0.3em;
  border-radius: 10px;
}

.vl {
  border-left: 6px solid #ffffff;
  opacity: 0.5;
  height: 8%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2.85em;
  border-radius: 10px;
}

@keyframes keypadDisplay {
  0% {
    position: fixed;
    bottom: -200px;
    opacity: 0;
  }
  100% {
    position: fixed;
    bottom: 0;
    opacity: 1;
  }
}

/* keypad */
#keypad {
  position: fixed;
  bottom: 0;
  background: rgb(8, 78, 102);
  background: linear-gradient(
    342deg,
    rgba(8, 78, 102, 1) 0%,
    rgba(16, 21, 47, 1) 24%
  );
  border: 1px solid #1d2e37;
  z-index: 10;
  /* flex */
  /* display: flex; */
  /* none */
  display: none;
  flex-direction: row;
  height: 40vh;
  min-width: 20rem;
  max-width: 30rem;
  justify-content: space-evenly;
  align-items: flex-start;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  animation: keypadDisplay 0.3s ease-in-out;
}

#keypad button {
  border-radius: 1em;
  box-shadow: 0px 2px 0px 0px rgb(49, 130, 148, 0.75);
}

#numpad {
  /* background-color: rgb(240, 249, 255); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: flex-start;
  width: 70%;
  height: 100%;
}

.numpad-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(240, 249, 255); */
  height: 20%;
  width: 100%;
}

#numpad button {
  height: 100%;
  width: 30%;
}

#letterpad {
  height: 100%;
  width: 30%;
  overflow: scroll;
  overflow-x: hidden;
  /* background-color: rgb(240, 249, 255); */
}

#letterpad button {
  height: 20%;
  width: 90%;
  margin: 0.5em auto;
}

#letterpad svg {
  position: absolute;
  bottom: 0;
  width: 27%;
  margin: 0 auto;
  z-index: 11;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(49, 61, 85);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d63aa;
}

/* autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px rgb(3, 7, 30) inset !important;
  -webkit-text-fill-color: rgb(229, 231, 235) !important;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (min-width: 600px) {
  main {
    max-width: 600px;
  }
}

@media only screen and (min-width: 760px) {
  main {
    max-width: 768px;
  }
  body {
    background: url("https://img.freepik.com/premium-photo/travel-by-bus-train-night-weather-conditions-fog-double-exposure-abstract-background-digital-illustration_124507-104208.jpg")
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
  }
}
